@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__illustration/lead__illustration.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);
.lead {
  max-width: 985px;
  padding-top: 22px;
}

@media (min-width: 1281px) {
  .lead {
    padding-top: 52px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .lead {
    padding-top: 52px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .lead {
    padding-top: 52px;
  }
}

@media (max-width: 425px) {
  .lead {
    padding-top: 40px;
  }
}
