@import url(./__image/comment__image.css);
@import url(./__text/comment__text.css);
@import url(./__source/comment__source.css);
.comment {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* @media (min-width: 769px) and (max-width: 1024px) {
  .comment {}
} */

@media (min-width: 426px) and (max-width: 768px) {
  .comment {
    align-items: center;
    padding-top: 30px;
  }
}

@media (max-width: 425px) {
  .comment {
    align-items: center;
    padding-top: 17px;
    /* padding-left: 4.27%; */
    /* padding-right: 4.27%; */
  }
}

@media (max-width: 320px) {
  .comment {
    padding-top: 5px;
  }
}
