.menu__item {
  margin-right: 19.5px;
}

/* @media (min-width: 769px) and (max-width: 1024px) {
  .menu__item {}
} */

/* @media (min-width: 426px) and (max-width: 768px) {
  .menu__item {}
} */

@media (min-width: 426px) and (max-width: 707px) {
  .menu__item {
    margin-bottom: 28px;
  }

  .menu__item:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 425px) {
  .menu__item {
    margin-bottom: 28px;
  }
}
