.header__locales-list-item {
  display: flex;
  margin-left: 18px;
}

/* @media (min-width: 769px) and (max-width: 1024px) {
  .header__locales-list-item {}
} */

/* @media (min-width: 426px) and (max-width: 768px) {
  .header__locales-list-item {}
} */

@media (max-width: 425px) {
  .header__locales-list-item {
    margin-left: 25px;
  }
}

@media (max-width: 320px) {
  .header__locales-list-item {
    margin-left: 20px;
  }
}
