@import url(../menu/menu.css);
@import url(./__copyright/footer__copyright.css);
@import url(../margin-centering/margin-centering.css);
.footer {
  /* max-width: 1184px; */
  width: 92.5vw;
  padding: 165px 0 48px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 1281px) {
  .footer {
    width: 82.22vw;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .footer {
    /* max-width: 928px; */
    width: 90.63vw;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .footer {
    /* max-width: 720px; */
    width: 93.75vw;
    padding: 99px 0 28px;
  }
}

@media (max-width: 425px) {
  .footer {
    flex-direction: column;
    width: 91.47vw;
    /* padding: 65px 4.27% 48px; */
    padding: 65px 0 25px;
  }
}

@media (max-width: 320px) {
  .footer {
    width: 90vw;
    /* padding: 65px 5% 48px; */
    padding: 65px 0 26px;
  }
}
