.place__url {
  margin: 6px 0 0;
  font-family: Inter, Arial, Calibri, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  text-decoration-line: underline;
  color: #FFFFFF;
}
